@import "tailwindcss";

@keyframes sink-in {
  0% {
    transform: translateY(-120px);
    opacity: 0;
    scale: 0.95;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}

.animate-sink-in {
  animation: sink-in 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
